version: "3.8"

services:
  database:
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 5

  redis:
    image: redis:alpine
    container_name: redis_cache
    restart: always
    networks:
      - app-network
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 10s
      retries: 5

  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    restart: always
    networks:
      - app-network
    depends_on:
      database:
        condition: service_healthy
    environment:
      - PORT=3001
      - DB_HOST=database
      - DB_PORT=3306
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - SECRET_KEY=${SECRET_KEY}
      - EXPIRES_IN=${EXPIRES_IN}
    volumes:
      - uploads_data:/app-backend/uploads
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "3001"]
      interval: 10s
      retries: 5

  catalog-service:
    build: ./services/catalog-service
    container_name: catalog-service
    restart: always
    networks:
      - app-network
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - PORT=3002
      - DB_HOST=database
      - DB_PORT=3306
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - SECRET_KEY=${SECRET_KEY}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - uploads_data:/app-backend/uploads
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "3002"]
      interval: 10s
      retries: 5

  frontend:
    build:
      context: ./frontend
      args:
        VITE_BACKEND_URI: ${BACKEND_URI}
    container_name: frontend
    restart: always
    depends_on:
      auth-service:
        condition: service_started
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: nginx
    restart: always
    ports:
      - 80:80
      - 443:443
    depends_on:
      auth-service:
        condition: service_started
      catalog-service:
        condition: service_started
      frontend:
        condition: service_started
    networks:
      - app-network

volumes:
  mysql_data:
  uploads_data:

networks:
  app-network:
